<img id="logo" src="/static/resources/images/logo.png">
<a href="/create"><button class="menu-button">Créer</button></a>
<button class="menu-button" onclick="location.href='/create'">Rejoindre</button>