<img id="logo" src="/static/resources/images/logo.png">
<button class="menu-button" onclick="render('create-game')">Créer</button>
<button class="menu-button" onclick="render('join-game')">Rejoindre</button>