<img id="logo" src="/static/resources/images/logo.png">

<form>
  <div id="code">Entrez le code de la partie que vous souhaitez rejoindre</div>

  <input type="text" placeholder="AAAAAAAA" required>
  <input type="submit" id="submit" class="menu-button" value="Rejoindre">

  <!-- Message d'erreur -->
  <div class="error_message">Code non valide</div>
</form>

<button class="menu-button" onclick="render('homepage')">Retour au menu</button>