#logo {
  width: 15em;
  display: block;
}

form {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

#code {
  text-align: center;
  font-weight: bold;
}

input[type="text"] {
  padding: 0.5em 1em;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  border-radius: 0.5em;
  width: 10em;
  outline: none;
  border: 1px solid black
}

.error_message {
  color: red;
}