#logo {
    width: 15dvw;
    display: block;
}

div {
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    position: absolute;
    width: 100dvw;
    height: 100dvh;

    /* Center element inside */
    display: grid;
    justify-content: center;
    align-items: center;
}

.blur {
    background-color: rgba(255, 255, 255, 0.5);
    align-content: center;
    border-radius: 25px;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 7.5dvh 5dvw;
    gap: 7.5dvh;
}

.qr-code {
    display: block;
    color: white;
    background-color: #00ADEF;
    border-radius: 45px;
    padding: 3dvh 1dvw;
    border-width: 0;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.qr-code > img {
    width: 10dvw;
}

.icon {
    height: 24px;
    display: inline;
}

.waiting-for {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.waiting-for > div {
    display: inline;
}

body {
    background-color: black;
    margin: 0;
}


.loader {
    height: 24px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 4px solid #00ADEF;
    animation:
      l20-1 0.8s infinite linear alternate,
      l20-2 1.6s infinite linear;
}
@keyframes l20-1{
    0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
    12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
    25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
    50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
    62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
    75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
    100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
}
@keyframes l20-2{ 
    0%    {transform:scaleY(1)  rotate(0deg)}
    49.99%{transform:scaleY(1)  rotate(135deg)}
    50%   {transform:scaleY(-1) rotate(0deg)}
    100%  {transform:scaleY(-1) rotate(-135deg)}
}