<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/homepage.css">
    <link rel="stylesheet" href="../static/style/global.css">
    <title>PolyPets</title>
  </head>
  <body>
    <div class="blur">
      <image id="logo" src="../static/resources/images/logo.png"></image>
      <button class="menu-button" onclick="console.log('Olé')">Créer</button>
      <button class="menu-button" onclick="console.log('Ola')">Rejoindre</button>
    </div>
  </body>
</html>