<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/global.css">
    <link rel="stylesheet" href="../static/style/homepage.css">
    <link rel="stylesheet" href="../static/style/three-canva.css">
    <title>PolyPets</title>
  </head>
  <body>
    </div>
    <div id="scene-container" class="container">
      <div class="blur">
        <img id="logo" src="../static/resources/images/logo.png">
        <button class="menu-button" onclick="console.log('Olé')">Créer</button>
        <button class="menu-button" onclick="console.log('Ola')">Rejoindre</button>
      </div>
    </div>
    <%- include("./partials/three-import.ejs") %>
  </body>
</html>