<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/global.css">
    <link rel="stylesheet" href="../static/style/join_game.css">
    <title>PolyPets</title>
  </head>
  <body>
    <div class="container">
      <div class="blur">
        <img id="logo" src="../static/resources/images/logo.png">

        <form>
          <div id="code">Entrez le code de la partie que vous souhaitez rejoindre</div>

          <input type="text" placeholder="AAAA AAAA" required>

          <input type="submit" id="submit" class="menu-button" value="Rejoindre">

          <!-- Message d'erreur -->
          <div class="error_message">Code non valide</div>
        </form>

      </div>
    </div>
  </body>
</html>