<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/global.css">
    <link rel="stylesheet" href="/static/style/loading.css">
    <link rel="stylesheet" href="/static/style/three-canva.css">
    <link rel="stylesheet" href="/static/style/ar-three-canvas.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/script/views/cookie.js"></script>
    <title>PolyPets</title>
  </head>
  <body>
    <div id="loader">
      <div>Loading...</div>
      <img src="/static/resources/images/pig.png" alt="loading">
      <div id="loading-bar"></div>
    </div>
    <div id="scene-container" class="container">
      <div id="main-blur" class="blur">
        <script src="/static/script/views/load.js"></script>
      </div>
    </div>
    <%- include("./partials/three-import.ejs") %>
  </body>
</html>