<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/global.css">
    <script src="../static/script/libs/qrcode.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="qrcode" style="width: 256px;height: 256px;"></div>
    <video id="remoteVideo" autoplay playsinline style="display: none;"></video>
    <canvas id="frameCanvas" style="display: block; margin-top: 20px; border: 1px solid black;"></canvas>

    <!-- Import openCV -->
    <script src="../static/script/opencv/ImageProcessor.js"></script>
    <!-- Load openCV -->
    <script async src="../static/resources/opencv/opencv.js" onload="onCvReady()"></script>
    
    <!-- Import socketio -->
    <script src="/socket.io/socket.io.js"></script>
    
    <!-- Connection to phone + image analysis script -->
    <script src="../static/script/video/video.js"></script>
    
</body>
</html>