#logo {
    width: 25dvw;
    display: block;
}

.blur {
    width: 30dvw;
    height: 80dvh;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.5);
    align-content: center;
    border-radius: 25px;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5dvh 0;

    /* Center vertically */
    position: absolute;
    top: 50dvh;
    left: 50dvw;
    transform: translate(-50%, -50%);
}

.menu-button {
    display: block;
    color: white;
    background-color: #00ADEF;
    border-radius: 45px;
    height: 10dvh;
    width: 17.5dvw;
    border-width: 0;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.menu-button:hover {
    background-color: #007DAC;
}

body {
    background-color: black;
}