<script type="importmap">
  {
    "imports": {
      "three": "https://cdn.jsdelivr.net/npm/three@0.170.0/build/three.module.min.js",
      "three/tsl": "https://cdn.jsdelivr.net/npm/three@0.170.0/build/three.webgpu.min.js",
      "three/webgpu": "https://cdn.jsdelivr.net/npm/three@0.170.0/build/three.webgpu.min.js",
      "three/examples/jsm/": "https://cdn.jsdelivr.net/npm/three@0.170.0/examples/jsm/",
      "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.170.0/examples/jsm/"
    }
  }
</script>
<script type="module" src="/static/script/scenes/homepage.js"></script>
<script src="/static/script/libs/qrcode.min.js"></script>
<div id="qrcode"></div>
<script type="text/javascript">
  new QRCode(document.getElementById("qrcode"), "https://app.fedyna.fr");
</script>